:root {
  --background: #ffffff;
  --text-primary: #000000;
  --button-background: #ffffff;
  --button-text: #000000;
}

[data-theme="dark"] {
  --background: #000000;
  --text-primary: #ffffff;
  --button-background: #000000;
  --button-text: #ffffff;
}

.light-dark-mode {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.light-dark-mode .container h1 {
  color: var(--text-primary);
}

.light-dark-mode .container button {
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
