.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    width: 500px;
    /* height: 200px; */
    padding: 20px;
    border: 1px solid #000;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.inactive {
    background-color: #fff;
}