.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.home-card {
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.home-card-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-card-buttons button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-card-buttons button:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .home-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
